In [3]:
import pandas as pd



data_types = {
    'budget': float,
    'id_pelicula': str,
    'original_language': str,
    'overview': str,
    'popularity': str,
    
    'revenue': float,
    'runtime': float,
    'status': str,
    'tagline': str,
    'title': str,
    'vote_average': float,
    'vote_count': 'Int32',  # Utiliza 'Int32' para un entero nullable
    'genres_ok': str,
    'spoken_languages_ok': str,
    'production_countries': str,
    'belong_to_collection': str,
    'production_companies_ok': str,
    'return': float,
    'release_year': 'Int64'  # Utiliza 'Int64' para un entero nullable
}



votadas_df = pd.read_csv('votadas_df.csv', dtype=data_types, low_memory=False)

# Visualizar el contenido del DataFrame. 
votadas_df.head()
votadas:df

,budget,id_pelicula,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genres_ok,spoken_languages_ok,production_countries,belong_to_collection,production_companies_ok,release_year,return
0,160000000.0,27205,en,"Cobb, a skilled thief who commits corporate es...",29.108149,2010-07-14,8.255328e+08,148.0,Released,Your mind is the scene of the crime.,Inception,8.1,14075,"Action,Thriller,Science Fiction,Mystery,Adventure",English,"United Kingdom,United States of America",NaN,"Legendary Pictures,Warner Bros.,Syncopy",2010,5.16
1,185000000.0,155,en,Batman raises the stakes in his war on crime. ...,123.167259,2008-07-16,1.004558e+09,152.0,Released,Why So Serious?,The Dark Knight,8.3,12269,"Drama,Action,Crime,Thriller","English,普通话","United Kingdom,United States of America",The Dark Knight Collection,"DC Comics,Legendary Pictures,Warner Bros.,DC E...",2008,5.43
2,237000000.0,19995,en,"In the 22nd century, a paraplegic Marine is di...",185.070892,2009-12-10,2.787965e+09,162.0,Released,Enter the World of Pandora.,Avatar,7.2,12114,"Action,Adventure,Fantasy,Science Fiction","English,Español","United Kingdom,United States of America",Avatar Collection,"Ingenious Film Partners,Twentieth Century Fox ...",2009,11.76
3,220000000.0,24428,en,When an unexpected enemy emerges and threatens...,89.887648,2012-04-25,1.519558e+09,143.0,Released,Some assembly required.,The Avengers,7.4,12000,"Science Fiction,Action,Adventure",English,United States of America,The Avengers Collection,"Paramount Pictures,Marvel Studios",2012,6.91
4,58000000.0,293660,en,Deadpool tells the origin story of former Spec...,187.860492,2016-02-09,7.831130e+08,108.0,Released,Witness the beginning of a happy ending,Deadpool,7.4,11444,"Action,Adventure,Comedy",English,United States of America,Deadpool Collection,"Twentieth Century Fox Film Corporation,Marvel ...",2016,13.50

In [4]:
def peliculas_duracion(pelicula: str):
    '''Ingresas la película, retornando la duración y el año'''
    pelicula_data = votadas_df[votadas_df['title'] == pelicula]
    if pelicula_data.empty:
        return {'error': 'Película no encontrada'}
    else:
        
        duracion = pelicula_data['runtime'].iloc[0]
        anio = pelicula_data['release_year'].iloc[0]

     

        return {'pelicula': pelicula, 'duracion': duracion, 'anio': anio}

In [9]:
peliculas_duracion("Toy Story")

{'pelicula': 'Toy Story', 'duracion': 81.0, 'anio': 1995}

In [10]:
import pandas as pd

# Supongamos que tienes el DataFrame "votadas_df" ya definido

# Selecciona las columnas deseadas
columnas_seleccionadas = [
    'overview', 'revenue', 'runtime', 'status', 'title',
    'vote_count', 'genres_ok', 'belong_to_collection',
    'release_year', 'return'
]

# Crea un nuevo DataFrame con las columnas seleccionadas
votadas_lm_df = votadas_df[columnas_seleccionadas].copy()

In [11]:
votadas_lm_df.to_csv('votadas_lm.csv', index=False)